@model IEnumerable<BLL.App.DTO.Competition>


@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">@Resources.Views.Common.welcome</h1>

  <ul class="alert alert-secondary bg-light" >
        <partial name="_LoginPartial"/>
    </ul>
@*      *@
@* *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Title) *@
@*             </th> *@
@*             $1$ <th> #1# *@
@*             $1$     @Html.DisplayNameFor(model => model.Comment) #1# *@
@*             $1$ </th> #1# *@
@*             $1$ <th> #1# *@
@*             $1$     @Html.DisplayNameFor(model => model.Start) #1# *@
@*             $1$ </th> #1# *@
@*             $1$ <th> #1# *@
@*             $1$     @Html.DisplayNameFor(model => model.End) #1# *@
@*             $1$ </th> #1# *@
@*             $1$ <th> #1# *@
@*             $1$     @Html.DisplayNameFor(model => model.Location) #1# *@
@*             $1$ </th> #1# *@
@* *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var item in Model) { *@
@*                 <tr> *@
@*     <td> *@
@*         @Html.DisplayFor(modelItem => item.Title) *@
@*     </td> *@
@*     </tr> *@
@*         } *@
@*     </tbody> *@
    