@model BLL.App.DTO.Registration

@{
    ViewData["Title"] = "Details";
}

<h1>@Resources.Views.Common.Details</h1>

<div>
    <h4>@Resources.Views.Shared._Layout.NavRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dog.DogName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Participant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Participant.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition.Id)
        </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Schooling)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Schooling.Id)
                </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Show)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Show.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Views.Common.Edit</a> |
    <a asp-action="Index">@Resources.Views.Common.BackToList</a>
</div>
