@model WebApp.ViewModels.SchoolingCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.Views.Common.Create</h1>

<h4>@Resources.Views.Shared._Layout.NavSchooling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schooling.SchoolingName" class="control-label"></label>
                <input asp-for="Schooling.SchoolingName" class="form-control" />
                <span asp-validation-for="Schooling.SchoolingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schooling.Start" class="control-label"></label>
                <input asp-for="Schooling.Start" class="form-control" />
                <span asp-validation-for="Schooling.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schooling.MaterialId" class="control-label" >@Resources.Domain.Schooling.Material </label>
                <select asp-for="Schooling.MaterialId" class="form-control" asp-items="Model.MaterialSelectList">
                     <option value="">@Resources.Views.Common.Choose</option>
                </select>
            </div>
                        <div class="form-group">
                            <label asp-for="Schooling.LocationId" class="control-label" >@Resources.Domain.Location.Locations</label>
                            <select asp-for="Schooling.LocationId" class="form-control" asp-items="Model.LocationSelectList">
                                 <option value="">@Resources.Views.Common.Choose</option>
                            </select>
                        </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Views.Common.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Views.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
