@model IEnumerable<BLL.App.DTO.BreedWithDogCounts>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.Views.Shared._Layout.NavBreed</h1>

<p>
    <a asp-action="Create">@Resources.Views.Common.CreateNew</a>
</p>
<div class="card-body">
<table  id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BreedName)
        </th>
         <th>
             @Html.DisplayNameFor(model => model.BreedCount)
         </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BreedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Common.Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
