@model IEnumerable<BLL.App.DTO.Schooling>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.Views.Shared._Layout.NavSchooling</h1>

@* <p> *@
@*     <a asp-action="Create">@Resources.Views.Common.CreateNew</a> *@
@* </p> *@
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
             <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.MaterialName)
            </td>
            <td>
                            @Html.DisplayFor(modelItem => item.Location.Locations)
                        </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
